#Box {
    width: 200px;
    height: 150px;
    display:block;
    margin-top: 10%;
    margin-left: 20%;
    border: 2px solid black;
    background-color:aqua ;
    font-style: italic;
 }
 #Box1 {
     width:200px;
    height:150px;
    margin-top: 2%;
    margin-left: 20%;
    display:block;
    border: 2px solid black;
    background-color:bisque ;
    font-style: italic;
 }
 .pic{
    width:20%;
    height: 10%;
    display:grid;
    margin-top: 2%;
    margin-left: 20%;
 }
div.Box:hover, div.Box1:hover, img.pic:hover{
    background-color: brown;
    color:blue;
}
